@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    
}



:root{
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
    
}
a.externo::after{
    content: '\00a0\1f517';
}
header{
    background-image: linear-gradient(to bottom,  #2fa866, #063d1e);
    text-align: center;
    min-height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

header h1{
    font-family: var(--fonte-destaque);
    color: white;
    font-weight: normal;
    font-size: 2.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.658);
}
header p{
    color: white;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
}
nav{
    background-color: var(--cor6);
    padding: 7px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.233);
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    
}
nav a:hover{
    background-color: #2fa866;
    color: #063d1e;
    border-radius: 4px;
    
}
main{
    background-color: white;
    min-width: 320px;
    max-width: 800px;    
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 0px 10px #00000081;
}
main h1, h2{
    font-family: var(--font-android);
    color: var(--cor6);
    font-weight: normal;
}
main h2{
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 8px;
}
main p{
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 25px;
    font-size: 18px;
}
main img{
    width: 100%;
}
main strong{
    font-weight: bold;
    color: #1a5c37;
    font-size: 18.5px;
}
main a{
    color: #1a5c37;
    font-weight: bold;
    background-color: #2fa865a9;
    padding: 2px 5px;
    text-decoration: none;
}
main a:hover{
    text-decoration: underline;
    color: rgba(255, 0, 0, 0.459);
}
.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
.video{
    background-color: #063d1e;
    display: flex;
    padding: 10px;
    margin: 20px 0px;
    
}

aside{
    background-color: #83e1ad;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #063d1e63;
    border: 0.7px solid #063d1e83;
}
aside h3{
    background-color: #1a5c37d0;
    padding: 10px;
    margin: -20px -20px 0px -20px;
    border-radius: 10px 10px 0px 0px;
    
}


.listAside{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0';
    
    
}


footer{
    text-align: center;
    background-image: linear-gradient(to bottom,  #2fa866, #063d1e);
    color: white;
    padding: 5px;

}
footer a{    
    font-weight: bold;
    background-color: #c5ebd6;
    padding: 2px 5px;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: rgba(255, 0, 0, 0.658);
    background-color: #2fa86594;
}