@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Configurações gerais*/

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
    scroll-behavior: smooth;

}
/* Corpo do site */

body{
    background-color: #84E1AD;
}

/* config gerais do cabeçalho do site */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 200px;
    background-image: linear-gradient(to top, #1C633B, #3BD27F);
    color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
    
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.486);
}
header p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.336);
    font-size: 18px;
    
}
/* Menu do seite */

nav{
    background-color: #1C633B;
    padding: 0px 0px 3px 0px;
    
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
}
nav a:hover{
    cursor: pointer;
    color: rgba(255, 0, 0, 0.541);
    background-color: #3BD27F;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.219);

}

/* Corpo do site */
main{
    background-color: rgba(255, 255, 255, 0.808);
    margin: auto;    
    max-width: 800px;
    min-width: 320px;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
    margin-bottom: 20px;
    border-radius: 0px 0px 5px 5px;
}
main p{
    line-height: 1.3em;
    text-indent: 20px;
    padding: 10px;
    max-width: 800px;
    min-width: 320px;
    margin: auto;

}

main h1, h2{
    font-family: 'idroid';
    
    color: #1C633B;
    
}
main h2{
    background-image: linear-gradient(to right, #84E1AD, transparent);
}



main img{
    margin: auto;
    width: 100%;
}
.pequena{
    width: 50%;
    display: flex;
}



    

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
}

/* SABER MAIS */

aside{
    max-width: 780px;
    height: auto;
    background-color: #84E1AD;
    border-radius: 10px;
    margin: auto;
    
}
aside h3{
    background-color: #1c633be1;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

aside ul{
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714';
    padding: 10px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    background-color: #1C633B;
    color: white;
    height: 30px;
    
    
}
footer a{
    color: #84E1AD;
    font-weight: bold;
    padding-top: 10px;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: rgb(245, 184, 184);
}
