@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Configurações gerais*/

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
    scroll-behavior: smooth;

}
/* Corpo do site */

body{
    background-color: #84E1AD;
}

/* config gerais do cabeçalho do site */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 200px;
    background-image: linear-gradient(to top, #1C633B, #3BD27F);
    color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
    
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.486);
}
header p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.336);
    font-size: 18px;
    
}
/* Menu do seite */

nav{
    background-color: #1C633B;
    padding: 0px 0px 3px 0px;
    
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
}
nav a:hover{
    cursor: pointer;
    color: rgba(255, 0, 0, 0.541);
    background-color: #3BD27F;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.219);

}

/* Corpo do site */
main{
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: rgba(255, 255, 255, 0.808);
    margin: auto;
    padding: 15px;
    width: 800px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
    margin-bottom: 20px;
    border-radius: 0px 0px 5px 5px;
}
article h1{
    font-family: 'idroid';
    padding: 10px;
    color: #1C633B;
    margin-bottom: 10px;
}
#bugdroid{
    margin: 10px 0px 10px 0px;
    border-radius: 2px;
    text-align: center;
}

section div p{
    text-indent: 20px;
}
section div span{
    color: #1C633B;
    font-weight: bold;
}
section div h1{
    font-size: 2em;
}
section div h2{
    background-image: linear-gradient(to right, #1c633b33, #3bd27f1e );
    margin: 0px;
}
section div img{
    margin: 10px 0px 10px 0px;
    border-radius: 2px;
    
}

/* SABER MAIS */

#saberMais{
    display: flex;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    height: 450px;


}
#saberMais div{
    margin-top: 10px;
    background-color: #3bd27f6b;    
    border-radius: 15px;
}

#saberMais h1{
    font-size: 20pt;
    
    color: white;
    background-color: #2FA866;
    width: 780px;
    padding: 13px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 10px;
    
}

#saberMais p{
    font-weight: bold;    
    padding: 7px;
    
}
#saberMais ul{
    display: block;
    left: 20px;
}


footer{
    text-align: center;
    background-color: #1C633B;
    color: white;
}
footer span{
    color: #84E1AD;
    font-weight: bold;
    padding-top: 10px;
}